@page
@{
}

<section class="section">
    <div class="container">
        <div class="row">
            <div class="col"></div>
            <div class="col">
                <a class="" asp-area="" asp-controller="Product" asp-action="Index">List Product</a>
                <a class="" asp-area="" asp-controller="Category" asp-action="Index">List Category</a>
                <a class="" asp-area="" asp-controller="Brand" asp-action="Index">List Brand</a>
            </div>
            <div class="col"></div>
        </div>
    </div>
</section>