@model T2207A_MVC.Models.BrandViewModel;
@{
    ViewData["Title"] = "Create brand";
}


<section class="section">
    <div class="container">
        <div class="row">
            <div class="col"></div>
            <div class="col">
                @using (Html.BeginForm("Create", "Brand", FormMethod.Post, new { enctype = "multipart/form-data" }))
                {
                    <div class="mb-3">
                        @Html.LabelFor(m => m.name, new { @class = "col-sm-2 col-form-label" })
                        @Html.TextBoxFor(m => m.name, new { @class = "form-control" })
                        @Html.ValidationMessageFor(m => m.name, "", new { @class = "text-danger" })
                    </div>

                    <div class=" row mb-3">
                        <label>Upload Logo</label>
                        <input type="file" name="LogoFile" class="form-control" />
                    </div>

                    <button type="submit" class="btn btn-primary">Add</button>
                    <a href="/brand" class="btn btn-success">List brand</a>
                }
            </div>
            <div class="col"></div>
        </div>
    </div>
</section>